:root {
    //************* Background Color Variables *****************//
    // --loginBackground: #121917;
  
    //************* Main Color Variables *****************//
    --white: #fffffa;
    --grayLight: #515052;
    --black: #000103;
    --grayDark: #333138;
    --red: #ff312e;
  
    //****************** Gradients **************************//
    // --yellowGradient: linear-gradient(to right, #ffda00 0%, #F57C00 50%, #ffbc1d 100%);
  }